html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #1F2937;
}

.wrapper {
    margin: auto;
    max-width: 60%;
}

/* header */

/* top part of header */
header {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* bottom part of header*/

.header-bottom {
    padding: 60px 0px;
    display: flex;

    align-items: center;
}

.header-main-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-main-text h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-main-text p {
    margin: 10px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border: none;
    border-radius: 12px;
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 8px 36px;
    cursor: pointer;
}

.header-bottom-image {
    flex: 1.6;
    display: flex;
    justify-content: flex-end;
}

.header-bottom-image img {
    border-radius: 50%;
}

/* cards section */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 90px;
    gap: 20px;
}

.cards.wrapper h2 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.illustrations-and-texts {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.illustrations-and-texts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.illustrations-and-texts div img {
    height: auto;
    max-width: 180px;
    border-radius: 25%;
    border: 5px solid #3882f6;
}

.illustrations-and-texts div p {
    margin: 0px;
    color: #1F2937;
    text-align: center;
}

/* quote section */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-section div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 10px;
}

.quote-section div p {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    align-self: flex-end;
    font-weight: bold;
}

/* call to action -section*/

.call-to-action {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.call-to-action div {
    background-color: #3882f6;
    border-radius: 12px;
    flex: 1;
    display: flex;
    padding: 20px 40px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cta-text div {
    color: #E5E7EB;
    font-size: 18px;
    padding: 0;
}

.cta-text .cta-text-header {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action div button {
    border: 4px solid #E5E7EB;
    align-self: center;
}




/* footer */